@import 'bootstrap/scss/bootstrap';
@import 'users_forms.sass.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}


//footer/////////////////
.footer {
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #74756a;
  color: rgb(86, 108, 149);
}

.main {
  min-height: calc(100vh - 48px);
}
.nav {
  background-color: #74756a;
color: rgb(86, 108, 149);
}

.form_outlay {
  margin: 100px;
}

.form_deposit {
  margin: 100px;
}

.form_credit{
  margin: 100px;
}

.home_deposits {
  margin: 30px;
  border: solid 5px #000;
  box-shadow: 3px 3px 3px #746969 ;
  .home_deposit {
    padding: 4px;
    box-shadow: inset 3px 3px 3px #adb49b ; 
    margin: 7px;
    border: bashed 2px #000;
  }
}

.home_credits {
  margin: 30px;
  border: solid 5px #000;
  box-shadow: 3px 3px 3px #746969 ;
  .home_credit {
    padding: 4px;
    box-shadow: inset 3px 3px 3px #adb49b ; 
    margin: 7px;
    border: bashed 2px #000;
  }
}

.home_outlays {
  margin: 30px;
  border: solid 5px #000;
  box-shadow: 3px 3px 3px #746969 ;
  .home_outlay {
    padding: 4px;
    box-shadow: inset 3px 3px 3px #adb49b ; 
    margin: 7px;
    border: bashed 2px #000;
  }
}

.form_income {
  margin: 100px;
}

.home_incomes {
  margin: 30px;
  border: solid 5px #000;
  box-shadow: 3px 3px 3px #746969 ;
  .home_income {
    padding: 4px;
    box-shadow: inset 3px 3px 3px #adb49b ; 
    margin: 7px;
    border: bashed 2px #000;
  }
}