@import 'bootstrap/scss/bootstrap';
@import 'users_forms.sass.scss';
@import 'home.sass.scss';
@import 'forms.sass.scss';
@import 'statistics.sass.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

p {
  margin: 0;
}


//footer/////////////////
.footer {
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #74756a;
  color: rgb(86, 108, 149);
}

.main {
  min-height: calc(100vh - 48px);
}
.nav {
  background-color: #74756a;
  color: rgb(86, 108, 149);
}

.form_outlay {
  margin: 100px;
}

.form_deposit {
  margin: 100px;
}

.form_credit{
  margin: 100px;
}
