.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  width: 500px;
  padding: 30px;
  border: 2px solid #DC143C;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  .create__input {
    background: #FFFEFE;
    border: 1px solid #DC143C;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    margin-bottom: 40px;
    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      color: #000000;
      opacity: 0.5;
    }
  }
  .input-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
  }
  .btn {
    line-height: 1;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 47px;
    margin: 0;
  }
  .form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    .btn.filled {
      margin-right: 10px;
      margin-left: 0;
    }
  }
}

.flash-alert {
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 18px;
  position: absolute;
  top: 3%;
  left: 9%;
  z-index: 999;
  &.notice, &.info {
    border: 1px solid #4caf50;
    background: rgba(234, 246, 235, 0.9);
    color: #4CAF50;
  }
  &.alert {
    color: #E91E63;
    background: rgb(254, 247, 249, 0.8);
    border: 1px solid #E91E63;
  }
}